@import './SASS/reset.scss';
@import './SASS/Navbar.scss';

body {
  background: #212229;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  font-family: 'Roboto', sans-serif;
}

main {
  align-items: center;
  // border: 1px solid white;
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}
