@import './SASS/reset.scss';
@import './SASS/palette';
@import './SASS/mixins';
@import './SASS/Navbar.scss';
@import './SASS/UserProfile.scss';

// * {
// 	box-sizing:border-box;
// }

body {
  background: $almost-black;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  font-family: 'Roboto', sans-serif;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

div.isLoading {
  @include designhub-letters;
  align-items: center;
  background: $btn-gradient;
  border-radius: 10px;
  color: $white;
  display: flex;
  justify-content: center;
  height: 50%;
  width: 50%;

  position: absolute;
  top: 25%;
  left: 25%;

  font-weight: 900;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.11em;
  em {
    -webkit-text-stroke-width: 1px;
  }
}
