.DesignHub {
  transition: all 0.2s ease-in-out;

  .nav-workspace {
    display: grid;
    grid-template-columns: auto 93%;
    max-width: 96%;
    margin: 0 auto;
    justify-content: center;
    grid-column-gap: 6rem;

    .side-navigation {
      width: auto;
      position: fixed;
      z-index: 9999;
      height: max-content;
      margin-left: 0;
      padding-bottom: 0;
      margin-top: 20.4rem;
    }

    .workspace {
      transition: all 0.2s ease-in-out;
      width: auto;
      margin-top: 4.4rem;
      margin-left: 0;
      min-height: 80vh;
    }
  }
}

@media (max-width: 1024px) {
  .DesignHub {
    transition: all 0.2s ease-in-out;

    .nav-workspace {
      display: grid;
      grid-template-columns: auto;
      grid-column-gap: 2%;
      max-width: 96%;
      margin: 0 auto;

      .side-navigation {
        width: auto;
        position: fixed;
        z-index: 9999;
        height: max-content;
        margin-left: 0;
        padding-bottom: 0;
        margin-top: 22vh;
      }

      .workspace {
        transition: all 0.2s ease-in-out;
        width: auto;
        margin-top: 5.5rem;
        margin-left: 0;
      }
    }
  }
}
