@import './palette';

@mixin btn {
  border: none;
  border-radius: 5px;
  padding: 10px 0;
  color: $white;
  cursor: pointer;
  outline: none;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.11em;
  line-height: 14px;
  text-align: center;
}

@mixin auth0-redirect-btn {
  @include btn;
  background: none;
  border: 2px solid $white;
  color: $white;
  font-size: 14px;
  letter-spacing: 0.11em;
  margin-top: 10px;
  width: 350px;
  &:hover {
    background: $btn-gradient;
    color: white;
  }
}

@mixin follow-btn {
  @include btn;
  background: $btn-gradient;
}

@mixin edit-profile-btn {
  @include btn;
  margin-top: 3vh;
  background: $almost-black;
  transition: 0.1s ease-in-out;
  &:hover {
    background: #2f303a;
  }
}

@mixin submit-btn {
  @include auth0-redirect-btn;
  margin-top: 20px;
}
