// UX PALETTE
$white: #ffffff;
$black: #15161a;
$dark-grey: #6d6d72;
$field-bg: #2a2b31;
$blue: #5557fe;
$purple: #9555fe;
$btn-gradient: linear-gradient(99.98deg, #5557fe -2.36%, #9555fe 103.67%);
$btn-primary: linear-gradient(99.98deg, #5557fe -2.36%, #9555fe 103.67%);
$btn-primary-hover: linear-gradient(99.98deg, #797bff -2.36%, #ac79ff 103.67%);
$btn-grey-hover: #4e4e51;
$alert: #e64c4d;
$modal-bg: rgba(0, 0, 0, 0.897);

// LIGHT MODE
$light-grey: #f4f4f4;
$grey: #d8d8d8;

//DARK MODE
$almost-black: #212229;

// HEATMAP GRADIENT
$heatmap-5: #3f1ccc;
$heatmap-4: #5557fe;
$heatmap-3: #7072ff;
$heatmap-2: #8d8fff;
$heatmap-1: #adaeff;
