@import './palette';
@import './mixins';

.empty-state {
    
    width: 100%;
    margin: 0 auto;
    text-align: center;

    .no-projects-title {
        margin-top: 25px;
        margin-bottom: 0;
        width: 100%;
        font-size: 8vw;
        text-align: center;
        color: $dark-grey;
        margin-bottom: 20px;
        user-select: none;
        opacity: 0.6;
    }

    .empty-icon {
      opacity: 0.03;      
    }
    
    .no-projects {
      width: 100%;
      text-align: center;
      color: $dark-grey;
      margin-bottom: 20px;
      user-select: none;
      opacity: 0.6;
    }
  }