@import './palette';
@import './mixins';

.explore-container {
  color: white;
  text-align: left;
  width: 100%;
  margin-bottom: 5rem;
  margin: 0rem 1rem 1rem 2rem;
  @include themify($themes) {
    color: themed('text');
  }


  header {
    border-bottom: 1px solid $field-bg;
    width: 100%;
    margin-bottom: 1rem;

    h1 {
      // text-transform: uppercase;
      font-size: 2rem;
      font-weight: 200;
      margin: 1rem 0;
      margin-top: 2rem;
    }

    p {
      font-size: 1rem;
      font-weight: 200;
      margin: 1rem 0;
      margin-bottom: 2rem;
    }
  }

  .header-popular-projects {
    margin-top: 1rem;
    display: grid;
    justify-content: flex-start;
    grid-template-columns: 63% 33.5%;
    grid-gap: 2%;

    .large-project-thumbnail {
      width: 100%;
      height: 350px;
      object-fit: cover;
      border-radius: 5px;
      border: 8px solid $field-bg;
    }
  }

  .empty-state {   
    display: flex;
    flex-direction: column;
    align-content: center;       
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 0px;      

    .empty-icon {
      opacity: 0.03;
    }
    .no-projects {        
      width: 100%;
      text-align: center;
      color: $dark-grey;
      margin-bottom: 20px;
      user-select: none;
      opacity: 0.6;
      margin-top: 0px;
    }
  }

  .explore-projects-array {    
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
    grid-gap: 2rem;
    justify-items: center;
    width: 100%;
    

    // @media (max-width: 1200px) {
    //   grid-template-columns: 1fr 1fr;
    // }

    // @media (max-width: 400px) {
    //   grid-template-columns: 1fr;
    // }       

  }

  .explore-tabs-container {      

    .explore-nav-links {
      width: 100%;
      text-align: left;
      display: flex;
      justify-content: space-between;      

      .explore-nav-div {
        display: flex;       

      }     
      
      .links {
        margin: 2rem 0.5rem 0.5rem 0;
        //color: $dark-grey;
        color: $white;
        font-weight: 500;
        cursor: pointer;
        width: 118px;
        height:70px;
        padding: 0.5rem;
        border-radius: 2.5px;
        text-align: center;
        transition: filter .5s ease-in-out;
        -webkit-filter: grayscale(0%); 
        filter: grayscale(0%); 
      }

      .links:hover {
        -webkit-filter: grayscale(100%); 
        filter: grayscale(100%); 
      }
      .linkText{
        font-size:13px;
      }
      .tabs-0 {
        display:flex;
        justify-content:center;
        align-items:center;
        margin: 2rem 0.5rem 0.5rem 0;
        // color: $dark-grey;
        color: $white;
        //color:black;
        font-weight: 500;
        cursor: pointer;
        width: 118px;
        height:70px;
        padding: .5rem;
        border-radius: 2.5px;
        text-align: center;
        transition: filter .5s ease-in-out;
        -webkit-filter: grayscale(0%); 
        filter: grayscale(0%); 

        background-image: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url('../ASSETS/dh_illustrations3.jpg');
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.6;
      }
      .tabs-0:hover {
        background-image: linear-gradient( rgba(105, 73, 223, 0.75), rgba(105, 73, 223, 0.75) ), url('../ASSETS/dh_illustrations3.jpg') 
      }
      .tabs-0.active-link {
        color: white;
        background-image: linear-gradient( rgba(105, 73, 223, 0.75), rgba(105, 73, 223, 0.75) ), url('../ASSETS/dh_illustrations3.jpg');
        @include themify($themes) {
          color: $black;
          font-weight: bold;
        }
      }

      .tabs-1 {
        display:flex;
        justify-content:center;
        align-items:center;
        margin: 2rem 0.5rem 0.5rem 0;
        //color: $dark-grey;
        color: $white;
        font-weight: 500;
        cursor: pointer;
        width: 118px;
        height:70px;
        padding: .5rem;
        border-radius: 2.5px;
        text-align: center;
        transition: filter .5s ease-in-out;
        -webkit-filter: grayscale(0%); 
        filter: grayscale(0%); 

        background-image: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url('../ASSETS/dh_webDesign3.jpg');
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.6;
      }
      .tabs-1:hover {
        background-image: linear-gradient( rgba(105, 73, 223, 0.75), rgba(105, 73, 223, 0.75) ), url('../ASSETS/dh_webDesign3.jpg') 
      }
      .tabs-1.active-link {
        color: white;
        background-image: linear-gradient( rgba(105, 73, 223, 0.75), rgba(105, 73, 223, 0.75) ), url('../ASSETS/dh_webDesign3.jpg');
        @include themify($themes) {
          color: $black;
          font-weight: bold;
        }
      }

      .tabs-2 {
        display:flex;
        justify-content:center;
        align-items:center;
        margin: 2rem 0.5rem 0.5rem 0;
        //color: $dark-grey;
        color: $white;
        font-weight: 500;
        cursor: pointer;
        width: 118px;
        height:70px;
        padding: .5rem;
        border-radius: 2.5px;
        text-align: center;
        transition: filter .5s ease-in-out;
        -webkit-filter: grayscale(0%); 
        filter: grayscale(0%); 

        background-image: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url('../ASSETS/dh_graphicDesign3.jpg');
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.6;
      }
      .tabs-2:hover {
        background-image: linear-gradient( rgba(105, 73, 223, 0.75), rgba(105, 73, 223, 0.75) ), url('../ASSETS/dh_graphicDesign3.jpg') 
      }
      .tabs-2.active-link {
        color: white;
        background-image: linear-gradient( rgba(105, 73, 223, 0.75), rgba(105, 73, 223, 0.75) ), url('../ASSETS/dh_graphicDesign3.jpg');
        @include themify($themes) {
          color: $black;
          font-weight: bold;
        }
      }

      .tabs-3 {
        display:flex;
        justify-content:center;
        align-items:center;
        margin: 2rem 0.5rem 0.5rem 0;
        //color: $dark-grey;
        color: $white;
        font-weight: 500;
        cursor: pointer;
        width: 118px;
        height:70px;
        padding: .5rem;
        border-radius: 2.5px;
        text-align: center;
        transition: filter .5s ease-in-out;
        -webkit-filter: grayscale(0%); 
        filter: grayscale(0%); 

        background-image: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url('../ASSETS/dh_uxDesign3.jpg');
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.6;
      }
      .tabs-3:hover {
        background-image: linear-gradient( rgba(105, 73, 223, 0.75), rgba(105, 73, 223, 0.75) ), url('../ASSETS/dh_uxDesign3.jpg') 
      }
      .tabs-3.active-link {
        color: white;
        background-image: linear-gradient( rgba(105, 73, 223, 0.75), rgba(105, 73, 223, 0.75) ), url('../ASSETS/dh_uxDesign3.jpg');
        @include themify($themes) {
          color: $black;
          font-weight: bold;
        }
      }

      .tabs-4 {
        display:flex;
        justify-content:center;
        align-items:center;
        margin: 2rem 0.5rem 0.5rem 0;
        //color: $dark-grey;
        color: $white;
        font-weight: 500;
        cursor: pointer;
        width: 118px;
        height:70px;
        padding: .5rem;
        border-radius: 2.5px;
        text-align: center;
        transition: filter .5s ease-in-out;
        -webkit-filter: grayscale(0%); 
        filter: grayscale(0%); 

        background-image: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url('../ASSETS/dh_uiDesign3.jpg');
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.6;
      }
      .tabs-4:hover {
        background-image: linear-gradient( rgba(105, 73, 223, 0.75), rgba(105, 73, 223, 0.75) ), url('../ASSETS/dh_uiDesign3.jpg') 
      }
      .tabs-4.active-link {
        color: white;
        background-image: linear-gradient( rgba(105, 73, 223, 0.75), rgba(105, 73, 223, 0.75) ), url('../ASSETS/dh_uiDesign3.jpg');
        @include themify($themes) {
          color: $black;
          font-weight: bold;
        }
      }

      .tabs-5 {
        display:flex;
        justify-content:center;
        align-items:center;
        margin: 2rem 0.5rem 0.5rem 0;
        //color: $dark-grey;
        color: $white;
        font-weight: 500;
        cursor: pointer;
        width: 118px;
        height:70px;
        padding: .5rem;
        border-radius: 2.5px;
        text-align: center;
        transition: filter .5s ease-in-out;
        -webkit-filter: grayscale(0%); 
        filter: grayscale(0%); 

        background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../ASSETS/dh_motionDesign3.jpg');
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.6;
      }
      .tabs-5:hover {
        background-image: linear-gradient( rgba(105, 73, 223, 0.75), rgba(105, 73, 223, 0.75) ), url('../ASSETS/dh_motionDesign3.jpg') 
      }
      .tabs-5.active-link {
        color: white;
        background-image: linear-gradient( rgba(105, 73, 223, 0.75), rgba(105, 73, 223, 0.75) ), url('../ASSETS/dh_motionDesign3.jpg');
        @include themify($themes) {
          color: $black;
          font-weight: bold;
        }
      }

      .tabs-6 {
        display:flex;
        justify-content:center;
        align-items:center;
        margin: 2rem 0.5rem 0.5rem 0;
        //color: $dark-grey;
        color: $white;
        font-weight: 500;
        cursor: pointer;
        width: 118px;
        height:70px;
        padding: .5rem;
        border-radius: 2.5px;
        text-align: center;
        transition: filter .5s ease-in-out;
        -webkit-filter: grayscale(0%); 
        filter: grayscale(0%); 

        background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../ASSETS/dh_animation3.jpg');
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.6;
      }
      .tabs-6:hover {
        background-image: linear-gradient( rgba(105, 73, 223, 0.75), rgba(105, 73, 223, 0.75) ), url('../ASSETS/dh_animation3.jpg') 
      }
      .tabs-6.active-link {
        color: white;
        background-image: linear-gradient( rgba(105, 73, 223, 0.75), rgba(105, 73, 223, 0.75) ), url('../ASSETS/dh_animation3.jpg');
        @include themify($themes) {
          color: $black;
          font-weight: bold;
        }
      }

      .tabs-7 {
        display:flex;
        justify-content:center;
        align-items:center;
        margin: 2rem 0.5rem 0.5rem 0;
        //color: $dark-grey;
        color: $white;
        font-weight: 500;
        cursor: pointer;
        width: 118px;
        height:70px;
        padding: .5rem;
        border-radius: 2.5px;
        text-align: center;
        transition: filter .5s ease-in-out;
        -webkit-filter: grayscale(0%); 
        filter: grayscale(0%); 
        
        background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('../ASSETS/dh_productDesign3.jpg');
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.6;
      }
      .tabs-7:hover {
        background-image: linear-gradient( rgba(105, 73, 223, 0.75), rgba(105, 73, 223, 0.75) ), url('../ASSETS/dh_productDesign3.jpg') 
      }
      .tabs-7.active-link {
        color: white;
        background-image: linear-gradient( rgba(105, 73, 223, 0.75), rgba(105, 73, 223, 0.75) ), url('../ASSETS/dh_productDesign3.jpg');
        @include themify($themes) {
          color: $black;
          font-weight: bold;
        }
      }
    }

    .tabs-8 {
      display:flex;
      justify-content:center;
      align-items:center;
      margin: 2rem 0.5rem 0.5rem 0;
      //color: $dark-grey;
      color: $white;
      font-weight: 500;
      cursor: pointer;
      width: 118px;
      height:70px;
      padding: .5rem;
      border-radius: 2.5px;
      text-align: center;
      transition: filter .5s ease-in-out;
      -webkit-filter: grayscale(0%); 
      filter: grayscale(0%); 
      
      background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('../ASSETS/dh_all.jpeg');
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.6;
    }
    .tabs-8:hover {
      background-image: linear-gradient( rgba(105, 73, 223, 0.75), rgba(105, 73, 223, 0.75) ), url('../ASSETS/dh_all.jpeg') 
    }
    .tabs-8.active-link {
      color: white;
      background-image: linear-gradient( rgba(105, 73, 223, 0.75), rgba(105, 73, 223, 0.75) ), url('../ASSETS/dh_all.jpeg');
      @include themify($themes) {
        color: $black;
        font-weight: bold;
      }
    }
  }  
  
}
