@import './palette';
@import './mixins';

.explore-container {
  color: white;
  text-align: left;
  width: 100%;
  margin-bottom: 5rem;
  margin: 0rem 1rem 1rem 2rem;
  @include themify($themes) {
    color: themed('text');
  }


  header {
    border-bottom: 1px solid $field-bg;
    width: 100%;
    margin-bottom: 1rem;
    @include themify($themes) {
      border-bottom: 1px solid #662a2b31;
    }

    h1 {
      // text-transform: uppercase;
      font-size: 2rem;
      font-weight: 200;
      margin: 1rem 0;
      margin-top: 2rem;
    }

    p {
      font-size: 1rem;
      font-weight: 200;
      margin: 1rem 0;
      margin-bottom: 2rem;
    }
  }

  // .header-popular-projects {
  //   margin-top: 1rem;
  //   display: flex;
  //   justify-content: flex-end;
  //   // grid-template-columns: 20% 33.5%;
  //   // grid-gap: 2%;

  //   .large-project-thumbnail {
  //     width: 100%;
  //     height: 350px;
  //     object-fit: cover;
  //     border-radius: 5px;
  //     border: 8px solid $field-bg;
  //   }
  // }

  .explore-projects-array {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    grid-column-gap: 3%;
    width: 100%;

    @media (max-width: 1300px){
      grid-template-columns: 29% 29% 29%;
    }

    .project-content {
      width: 100%;
      height: 14vw;
      // height: 11.5rem;
      position: relative;
      transition: all 0.2s ease-in-out;
      border: 8px solid $field-bg;
      border-radius: 5px;
      overflow: hidden;
      margin: 10px 10px 10px 10px;
      object-fit: cover;

      @media (max-width: 1300px){
        height: 18vw;
      } 

      @include themify($themes) {
        border: 8px solid #e7e7e7;
      }

      .project-info {
        position: absolute;
        bottom: 0;
        width: 100%;
        color: $white;
        text-decoration: none;
        background: $blue;
        overflow: hidden;
        height: 50px;
        display: none;
        pointer-events: none;

        h1 {
          margin-top: 10px;
          font-size: 14px;
          font-weight: 500;
        }

        .created {
          font-weight: 400;
          color: rgba(255, 255, 255, 0.507);
        }
      }

      .project-thumbnail {
        object-fit: cover;
        width: 22rem;
        height: 15rem;
        will-change: transform;
        transition: 0.1s ease-in-out;
        cursor: pointer;
      }
    }
    .project-content:hover {
      border: 8px solid $blue;
      text-align: left;
      will-change: transform;
    }
  }

  .project-content:hover {
    .project-info {
      display: inline;
      animation: slideUp 0.25s ease-in-out;
      will-change: transform;
      z-index: 1;
    }
  }

  @keyframes slideUp {
    from {
      height: 0px;
    }
    to {
      height: 50px;
    }
  }

  .explore-tabs-container {
    .explore-nav-links {
      width: 100%;
      text-align: left;
      display: flex;
      
      // border-bottom: 1px solid $field-bg;

      .links {
        margin: 2rem 1.5rem 1.5rem 0;
        color: $dark-grey;
        font-weight: 500;
        cursor: pointer;
        width: 5.5rem;
        padding: 10px;
        border-radius: 4px;
        text-align: center;

        transition: color 0.2s;
      }

      .links:hover {
        color: $shadow-grey;
      }

      .active-link {
        color: white;
        background-color: $blue;
        @include themify($themes) {
          color: $white;
          font-weight: bold;
        }
      }

      .active-link:hover {
        background-color: $blue;
        color: $white;
      }
    }
  }
}
