@import './palette';
@import './mixins';

.explore-container {
  color: white;
  text-align: center;
  width: 100%;
  margin-bottom: 5rem;

  header {
    border-bottom: 1px solid $field-bg;
    width: 100%;

    h1 {
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: 500;
      margin: 1rem 0;
    }

    p {
      font-size: 1rem;
      font-weight: 500;
      margin: 1rem 0;
    }
  }

  .header-popular-projects {
    margin-top: 1rem;
    display: grid;
    justify-content: flex-start;
    grid-template-columns: 63% 33.5%;
    grid-gap: 2%;

    .large-project-thumbnail {
      width: 100%;
      height: 350px;
      object-fit: cover;
      border-radius: 5px;
      border: 8px solid $field-bg;
    }
  }

  .popular-projects-array {
    margin-top: 1rem;
    display: grid;
    justify-content: flex-start;
    grid-template-columns: 23% 23% 23% 23%;
    grid-gap: 2%;

    .small-project-thumbnail {
      width: 100%;
      height: 230px;
      object-fit: cover;
      border-radius: 5px;
      border: 8px solid $field-bg;
    }
  }

  .explore-tabs-container {
    .explore-nav-links {
      width: 100%;
      text-align: left;
      display: flex;
      border-bottom: 1px solid $field-bg;

      .links {
        margin: 2rem 1.5rem;
        color: $dark-grey;
        font-weight: 500;
        cursor: pointer;
      }

      .active-link {
        color: white;
      }
    }
  }
}
