@import './palette';

.Heatmap {
  align-items: center;
  background: $black;
  border-radius: 10px;
  display: flex;
  width: 98%;
  padding: 1%;
  margin-bottom: 6vh;

  .chart {
    width: 100%;
  }
}
