.ImageViewer {
  color: white;
  display: flex;
  width: 100%;

  main {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;

    .ImageViewer__main-image {
      background-color: #15161a;
      border: 5px solid #15161a;
      box-sizing: border-box;
      border-radius: 10px;
      cursor: pointer;
      max-height: 68vh;
      overflow: hidden;
      width: 56%;
      width: 500px;
      img {
        max-width: 100%;
      }
    }

    .ImageViewer__thumbnails {
      display: flex;
      flex-flow: column nowrap;
      height: 68vh;
      overflow-y: scroll;
      justify-content: flex-start;
      align-items: center;
      margin-left: 20px;

      img {
        max-width: 211px;
        margin-bottom: 16px;
        border: 5px solid #15161a;
        box-sizing: border-box;
        border-radius: 10px;
        // width: 100%;
        &:hover {
          border: 5px solid #5557fe;
          cursor: pointer;
        }
      }
    }
    .modal--close {
      display: none;
    }
    .modal--expand {
      display: inline;
      position: absolute;
      z-index: 999999;
      top: 0;
      left: 0;
      text-align: center;
      overflow-y: scroll;
      opacity: 1;
      animation: fadeIn 0.2s ease-in-out;

      img {
        width: 80%;
        margin: 10vh auto 0;
        position: relative;
        z-index: 999;
      }

      span {
        display: inline-block;
        position: fixed;
        z-index: 99;
        left: 0;
        top: 0;
        content: '';
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.673);
        cursor: pointer;
      }

      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }
  }
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
