@import './palette';
@import './mixins';

.ImageViewer {
  color: white;
  display: flex;
  height: 68vh;
  width: 100%;

  main.ImageViewer__body {
    margin: 0;
    .main-image-container {
      display: flex;
      align-items: flex-start;
      width: 100%;

      .main-image {
        background-color: #15161a;
        border: 5px solid #15161a;
        box-sizing: border-box;
        border-radius: 10px;
        cursor: pointer;
        object-fit: cover;
        overflow: hidden;
        text-align: center;
        height: 68vh;
        width: 48vw;
        display: flex;
        align-items: center;
        justify-content: center;
        @include themify($themes) {
          border: 5px solid themed('bg2');
          background-color: themed('bg2');
        }
      }

      .ImageViewer__thumbnails {
        display: flex;
        flex-flow: column nowrap;
        width: 16vw;
        height: 68vh;
        overflow-y: scroll;
        justify-content: flex-start;
        align-items: center;
        margin: 0 0 0 1.5%;

        .thumbnails {
          width: 100%;
          height: 150px;
          border: 5px solid #15161a;
          box-sizing: border-box;
          border-radius: 10px;
          margin-bottom: 16px;
          object-fit: cover;
          @include themify($themes) {
            border: 5px solid themed('bg2');
          }

          &:hover {
            border: 5px solid #5557fe;
            cursor: pointer;
          }
        }
      }
    }

    .modal--close {
      display: none;
    }

    .modal--expand {
      animation: fadeIn 0.2s ease-in-out;
      height: 100%;
      opacity: 1;
      overflow-y: scroll;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 999999;

      img.ImageWithComments__full-img {
        max-width: 1200px;
        position: relative;
        z-index: 999;
        top: 71px;
        left: 160px;
      }

      span.modal--expand__background-overlay {
        background: $modal-bg;
        cursor: pointer;
        content: '';
        position: fixed;
        height: 100vh;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 99;
      }

      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }
  }
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

@media (max-width: 1024px) {
  .ImageViewer {
    main.ImageViewer__body {
      .main-image-container {
        .main-image {
          width: 65vw;
        }
        .ImageViewer__thumbnails {
          width: 100%;
        }
      }
    }
  }
}
