.Loading-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  .loading-text {
    position: absolute;
    width: max-content;
    margin: 0 auto;
    color: white;
    opacity: 0.2;
  }
}
