@import './palette';

nav {
  position: fixed;
  z-index: 9999999999999;
  margin-top: 16%;
  margin-left: 1.2%;
  width: 70px;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: left;
  background: $black;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  overflow: hidden;

  .navlinks {
    display: flex;
    align-items: center;
    width: max-content;

    .links {
      text-decoration: none;
    }

    .active-links {
      p {
        color: $white;
      }

      svg {
        fill: none;
        padding: 20px 5px 20px 25px;
        stroke: $white;
      }
    }

    p {
      transition: all 0.2s ease-in-out;
      background: $black;
      border-radius: 0 10px 10px 0;
      color: $dark-grey;
      padding: 0 20px 0 20px;
      width: max-content;
      transition: all 0.2s ease-in-out;
    }

    p:hover {
      color: $white;
    }

    svg {
      fill: none;
      padding: 20px 5px 20px 25px;
      stroke: $dark-grey;
      transition: all 0.2s ease-in-out;

      &:hover {
        stroke: $white;
      }
    }
  }
}

nav:hover {
  width: 240px;
  transition: all 0.2s ease-in-out;
  p {
    display: inline;
  }
}
