@import './palette';
@import './mixins';

.background {
  position: absolute;
  width: 100%;
}

.page-container {
  font-size: 62.5%;
  position: relative;
  .top {
    display: flex;
    margin: 0 0 50% 10%;
    .top-left {
      width: 36%;
      color: #6d6d72;
      margin-top: 5%;
      p {
        font-size: 3em;
        margin-bottom: 2%;
      }
      h1 {
        font-size: 7.6em;
        font-weight: bolder;
       
        letter-spacing: 0.09em;
        span {
          color: white;
          text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        }
      }
      h4 {
        font-size: 2.2em;
      }
    
    }
    .top-right {
      margin: -20% 0 0 -13%;
    }
  }
}


.buttons {
  width: 75%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2%;
  button:hover {
    background-color: $blue;
    color: $white;
  }
  .signup-btn {
    background-color: $white;
    color: $blue;
    border: 1px solid #3f1ccc;
    border-radius: 3px;
    width: 41%;
    height: 49px;
  }
  .login-btn {
    background-color: $white;
    color: $blue;
    border: 1px solid #3f1ccc;
    border-radius: 3px;
    width: 41%;
    height: 49px;
  }
}

.how-it-works {
  margin: 0 5% 38% 18%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .how-it-works-heading {
    text-align: center;
    width: 100%;
    margin-bottom: 4%;
    
    h2 {
      font-weight: 500;
      font-size: 4.6em;
      letter-spacing: 0.11em;
      color: #212229;
    }
    
  }
  .step {
    width: 20%;
    background-color: $blue;
  }
}


.inspiration {
    display: flex;
    margin: 0 3% 20% 12%;
    justify-content: space-between;
    
    .inspiration-text {
      margin: 8% 10% 0 0 ;
      width: 35%;
      h5 {
        font-weight: 500;
        font-size: 4.4em;
        line-height: 138%;
        letter-spacing: 0.11em;
        color: #000000;
        margin-bottom: 5%;
      }
      p {
        font-size: 2em;
      }
      
    }
}

.features {
  margin: 0 8% 40% 12%;
  display: flex;
  flex-wrap: wrap;
  .features-heading {
    width: 100%;
    text-align: center;
  }
  .feature-box {
    margin: 20px 140px;
    width: 15%;
  }
 
}

.footer{
  box-sizing: border-box;
  background-color: #351553;
  position: relative;
  margin: 10% auto -10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  .footerLogo{
    padding: 5% 0 0 5%;
  }
  .footer-text{
    align-self: flex-end;
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    // border: 2px solid green;
    border-left: .5px solid $white;
    padding: 8% 5%;
    color: $white;
    h5{
      font-size: 1rem;
      font-weight: bold;
      padding-bottom: 20%;
    }
    li{
      font-size: 1rem;
      line-height: 2;
      line-height: 2.5;
    }
  }

  .poweredBy{
    padding: 0 0 5% 5%;
  }
}



//   @include small-desktop {    
//     .how-it-works {
//       margin-bottom:25%;
//     }
//     .inspiration {
      
//     }
    
//  }