@import './palette';
@import './mixins';

.OnboardingForm {
  align-items: baseline;
  background: $black;
  color: $white;
  display: flex;
  flex-direction: column;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;

  form {
    @include onboard-form;
  }
}
