@import './palette';
@import './mixins';

.OnboardingForm {
  align-items: baseline;
  background: $black;
  color: $white;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: scroll;

  .alert-container {
    display: none;
  }

  form.alert {
    .alert-container {
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }
    input#username {
      outline: 2px solid $alert;
    }

    .errorIcon {
      width: 20px;
      position: absolute;
      margin-left: 9px;
      margin-top: -9px;
      transition: all 0.1s ease-in-out;
      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .stepComponents {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    header {
      h1 {
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 0.11em;
      }

      h2 {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.11em;
        margin-top: 10px;
      }
      p {
        color: $dark-grey;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.11em;
        margin-top: 20px;
      }
    }
  }

  form {
    @include onboard-form;

    .avatar-upload-container {
      align-items: center;
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }

    .dropzone-container {
      margin: 20px;
      width: 50%;
    }

    .upload-container {
      align-items: center;
      border: 7px solid $blue;
      background: $field-bg;
      border-radius: 50%;
      box-sizing: border-box;
      cursor: pointer;
      display: flex;
      flex-wrap: wrap;
      height: 258px;
      justify-content: center;
      outline: none;
      transition: all 0.1s ease-in-out;
      width: 258px;

      &:hover {
        background: #33343b;
      }

      svg {
        stroke: $blue;
        width: 40%;
      }
    }

    .drop-text-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .upload-icon {
        opacity: 0.2;
        // margin-bottom: 10px;
      }

      .drop-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;

        mark {
          background: none;
          color: $blue;
        }
      }
    }
  }
}

.Step2-thumbnail-container {
  align-items: center;
  background: $field-bg;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // padding: 80px;
  height: 258px;
  transition: all 0.1s ease-in-out;
  width: 258px;

  svg {
    fill: none;
    stroke: $dark-grey;
    width: 100px;
  }
}

.thumb {
  display: inline-flex;
}

.avatarBlank {
  align-items: center;
  display: flex;
  height: 251px;
  justify-content: center;
  width: 251px;
}

.Step2-thumbnail {
  border: 7px solid $blue;
  border-radius: 50%;
  object-fit: cover;
  width: 240px;
  height: 240px;
}

.remove {
  width: 20px;
  position: absolute;
  margin-top: -5px;
  margin-left: -5px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  opacity: 0.8;
}

.remove:hover {
  transform: scale(1.2);
  opacity: 1;
}
