@import './mixins';
@import './palette';

.project-form-wrapper {
  color: $white;
  width: 100%;

  @include themify($themes) {
    color: themed('text');
  }

  .ProjectForm__header {
    h2 {
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
    }
  }

  .ProjectForm__body {
    display: flex;
    margin: 16px 0;
    width: 100%;

    @media (max-width: 1024px) {
      align-items: center;
      flex-direction: column;

      .left-container {
        width: 100%;
      }

      .right-container {
        margin-top: 5%;
        margin-bottom: 5%;
        width: 100%;
      }
    }
  }

  @include modal;

  .delete-project-modal {
    // border: 1px solid white;
    display: flex;
    max-width: 489px;
    flex-direction: column;
    border-radius: 10px;
    background-color: $black;
    padding: 40px;
    @include themify($themes) {
      background-color: themed('bg2');
    }

    .delete-modal-button-container {
      // border: 1px solid red;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;

      .delete-button {
        background: $alert;
        &:hover {
          background: $white;
          color: $alert;
        }
      }      

      button {
        @include secondary-btn;
        margin-top: 20px;
        transition: 0.1s ease-in-out;
      }
    }
    p {
      text-align: center;
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 0.11em;
    }
  }

  /****************************INVITE MODAL************************/
  .invite-modal {
    @include onboard-form;
      @include themify($themes) {
        background-color: themed('bg');
      }
      margin: 0;
      width: 100%;
      overflow: auto;

    position: relative;    
    display: flex;    
    width: 500px;
    flex-direction: column;
    border-radius: 10px;
    background-color: $black;
    padding: 40px;
    @include themify($themes) {
      background-color: themed('bg2');
    }

    .close-icon-div{
      
      display:flex;
      align-items:center;
      justify-content: center;       
      width: 8%;        
      position:absolute;
      top:10px;
      right:0px;
      
      div.close-icon {                  
        width: 80%;
        border-radius: 100%;
        border: 1px solid $field-stroke;
        //background-color: $light-black;        
        display:flex;
        align-items:center;
        justify-content: center;
        height:30px;
        margin: 2% 0%;
        cursor: pointer; 
        @include themify($themes) {
          background-color: themed('bg2');
        }
        
      }
    }   

    form {
      @include onboard-form;
      @include themify($themes) {
        background-color: themed('bg');
      }
      margin: 0;
      width: 100%;

      label {
        text-align: left;
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 15px;
        line-height: 21px;
      }

      div.colab-input-wrapper {
        display: flex;
        flex-grow: 3;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: space-around;
        padding: 0px;
        max-width:100%;
        height:36px;
        height: auto;
        font-size: 12px;
        margin-bottom: 20px;
        border: 1px solid $field-stroke;
        //overflow: auto;
        @include themify($themes) {
          background-color: themed('bg2');
        }  
        
        div.invite-chip{
          display: flex;          
          flex-wrap: nowrap;
          justify-content: space-between;
          align-items: center;
          background-color: $white;
          border-radius: 5px;
          margin-top: 2px;
          margin-bottom: 2px;
          margin-right: 10px;
          height: 90%;
          color: $black;
          width: auto;          

          .remove-chip{
            margin-left: 10px;            
          }
        }
        
        input {
          flex-grow: 3;
          //width:100%;
          height: 35px;
          font-size: 12px;
          margin-top: 0px;
          //margin-bottom: 20px;
          border: 1px solid $field-stroke;
          @include themify($themes) {
            background-color: themed('bg2');
          }
        }
    }

    }//end form

    label {
      text-align: left;
      margin-top: 10px;
      margin-bottom: 5px;
      font-size: 15px;
      line-height: 21px;
    }

    .collab-view {
      font-size: 12px;
      margin-bottom: 20px;
      height: 240px;
      border: 1px solid $field-stroke;
      overflow: auto;
      @include themify($themes) {
        background-color: themed('bg2');
      }
    }

    .invite-modal-bottom-div {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-around;      

      .share-icon-div{
        display: flex;
        align-items: flex-end;   
        width: 8%;            
        
        div.share-icon {                  
          width: 80%;
          border-radius: 100%;
          border: 1px solid $field-stroke;
          //background-color: $light-black;        
          display:flex;
          align-items:center;
          justify-content: center;
          height:32px;
          margin: 2% 0%;
          cursor: pointer; 
          @include themify($themes) {
            background-color: themed('bg2');
          }
          
        }
      }

      .share-link-div{
        @include onboard-form;
        @include themify($themes) {
          background-color: themed('bg');
        }

        margin: 0;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;        
        width: 55%;       

        .label {
          margin-bottom: 0;
          font-size: 12px;
          line-height: 10px;
        }

        input {
          font-size: 12px;
          padding: 7px;
          //margin-bottom: 20px;
          border: 1px solid $field-stroke;
          @include themify($themes) {
            background-color: themed('bg2');
          }
        }        

      }

      .add-members-btn-div {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: 30%;
        

        .submit-button {
          @include primary-btn;
          font-size: 10px;
          padding: 0 0;
          width: 80%;
          height: 40%;
          //margin-top: 16px;
        }
      }
     
    }//end invite-modal-bottom-div

    
  }//end invite-modal

  .left-container {
    width: 100%;
    // max-width: 100%;
    margin-right: 2%;

    .delete-project-button {
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      cursor: pointer;
      color: $dark-grey;
      letter-spacing: 0.11em;
      p {
        line-height: 24px;
        vertical-align: middle;
        display: inline;
      }
      svg {
        vertical-align: middle;
        margin-right: 6px;
      }
    }

    .page-header {
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 1.5rem;
      letter-spacing: 0.11em;
      margin-bottom: 14px;
    }
    .upload-container.active {
      border: 8px solid $blue;
      @include themify($themes) {
        border: 8px solid $blue;
        p {
          color: $blue;
        }
      }
      p {
        color: $blue;
      }
    }

    .upload-container.rejected {
      border: 8px solid $alert;
      @include themify($themes) {
        border: 8px solid $alert;
        p {
          color: $alert;
        }
      }
      p {
        color: $alert;
      }
    }
    .error {
      color: $alert;
      text-align: center;
    }

    .upload-container {
      align-items: center;
      border: 5px solid $black;
      background: $almost-black;
      border-radius: 10px;
      cursor: pointer;
      display: flex;
      height: 9rem;
      justify-content: center;
      outline: none;
      padding: 20px;
      transition: all 0.1s ease-in-out;
      @include themify($themes) {
        background: themed('upload-grey');
        border: 5px solid themed('bg2');
        color: themed('link');
      }

      &:hover {
        background: #33343b;
        @include themify($themes) {
          background: themed('bg');
          border: 5px solid themed('bg2');
          color: themed('text');
        }
        svg {
          @include themify($themes) {
            stroke: themed('text');
          }
        }
      }

      p {
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        letter-spacing: 0.11em;
        font-weight: 500;
        color: $white;
      }

      svg {
        stroke: $white;
        width: 4rem;
        height: 4rem;
        opacity: 0.2;

        @include themify($themes) {
          stroke: themed('link');
        }
      }
    }

    .drop-text-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .upload-icon {
        opacity: 0.2;
        margin-bottom: 10px;
      }

      .drop-text {
        margin-bottom: 10px;
        font-size: 14px;
        @include themify($themes) {
          color: $dark-grey;
        }

        mark {
          background: none;
          color: $blue;
        }
      }
    }
  }

  .thumbnail-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
    grid-gap: 1rem;
    justify-content: flex-start;
    margin-top: 8px;
    margin-bottom: 8px;

    .thumb {
      margin: 0;
      padding: 0;
      width: max-content;

      .thumbnail {
        border: 5px solid $black;
        border-radius: 10px;
        box-sizing: border-box;
        display: inline-block;
        object-fit: cover;
        object-position: center;
        width: 7rem;
        height: 6rem;
        @include themify($themes) {
          border: 5px solid themed('bg2');
        }
      }
    }
  }

  .remove {
    width: 20px;
    position: absolute;
    margin-top: -5px;
    margin-left: 6rem;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    opacity: 0.8;
  }

  .remove:hover {
    transform: scale(1.2);
    opacity: 1;
  }

  .right-container {
    width: 100%;
    display: flex;
    overflow-y: scroll;
    margin-top: 2rem;

    form {
      @include onboard-form;
      @include themify($themes) {
        background-color: themed('bg');
      }
      margin: 0;
      width: 100%;
      
      input {
        font-size: 12px;
        margin-bottom: 20px;
        border: 1px solid $field-stroke;
        @include themify($themes) {
          background-color: themed('bg2');
        }
      }

      select {
        font-size: 12px;
        margin-bottom: 20px;
        border: 1px solid $field-stroke;
        @include themify($themes) {
          background-color: themed('bg2');
        }
      }
      
      option {
        font-size: 13px;
      }

      div.invite{
        border-radius: 100%;
        //background-color: $light-black;
        border: 1px solid $field-stroke;
        width:50px;
        display:flex;
        align-items:center;
        justify-content: center;
        height:50px;
        margin: 2% 0%;
        cursor: pointer;   
        @include themify($themes) {
          background-color: themed('bg2');
        }     
      }      

      .required.alert input {
        margin-bottom: 0;
      }

      .description {
        font-size: 12px;
        margin-bottom: 10px;
        resize: vertical;
        height: 80px;
        border: 1px solid $field-stroke;
        @include themify($themes) {
          background-color: themed('bg2');
        }
      }

      label {
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 15px;
        line-height: 21px;
      }

      .project-label {
        margin-top: 0px;
      }
    }

    .required-help {
      color: $dark-grey;
    }

    .error {
      font-size: 17px;
      text-align: right;
      margin: 1.5rem 0;
      color: $alert;
      user-select: none;
    }
  }

  .submit-cancel-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
    button {
      &:disabled {
        background: grey;
        cursor: default;
      }
    }

    .submit-button {
      @include primary-btn;
      margin-top: 16px;
    }

    .cancel-btn {
      @include secondary-btn;
      margin-top: 16px;
      margin-right: 16px;
    }
  }

  .delete-project-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1.5rem;
    opacity: 0.6;
    width: max-content;

    &:hover {
      opacity: 1;
    }

    p {
      margin-left: 10px;
      color: $dark-grey;
      cursor: pointer;
    }

    svg {
      cursor: pointer;
    }
  }
}
