.projects-container {
  width: 96%;
  margin-top: 10vh;
  color: white;
  .project-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    margin: 22px auto;
  }
  .project-details {
    width: 60%;
    h2 {
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 1.5rem;
      letter-spacing: 0.11em;
      margin-bottom: 14px;
    }
    h3 {
      font-style: italic;
      font-weight: normal;
      font-size: 1rem;
      line-height: 19px;
      letter-spacing: 0.11em;
      margin-bottom: 21px;
    }
    span {
      color: #6d6d72;
      font-weight: normal;
      font-size: 0.8rem;
      letter-spacing: 0.11em;
      margin-right: 20px;
    }
    .project-header-username a {
      color: #5557fe;
      text-decoration: none;
    }
  }
  .project-header-right {
    width: 40%;
    height: 100px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    text-align: right;
    .project-header-team {
      img {
        padding: 0 5px;
        width: 42px;
        height: 42px;
        border-radius: 100%;
        object-fit: cover;
      }
    }
    .project-header-links {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      .edit {
        color: #5557fe;
        letter-spacing: 0.11em;
        padding: 0 25px;
        font-weight: 500;
      }
      svg,
      img {
        vertical-align: middle;
      }

      .link-disabled {
        filter: grayscale(100);
      }

      .link-enabled {
        filter: grayscale(0);
      }

      .project-header-button {
        margin-left: 10px;
        height: 42px;
        background: #15161a;
        border-radius: 10px;
        min-width: 42px;
        text-align: center;
        line-height: 42px;
      }
    }
  }
  .project-body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    .project-main-image {
      width: 56%;
      height: 68vh;
      background-color: #15161a;
      border: 5px solid #15161a;
      box-sizing: border-box;
      border-radius: 10px;
      overflow: hidden;
      cursor: pointer;
      img {
        width: 100%;
      }
    }
    .modal-close {
      display: none;
    }

    .modal-expand {
      display: inline;
      position: absolute;
      z-index: 999999;
      top: 0;
      left: 0;
      text-align: center;
      height: 100vh;
      overflow-y: scroll;
      opacity: 1;
      animation: fadeIn 0.2s ease-in-out;

      img {
        width: 80%;
        margin: 10vh auto 0;
        position: relative;
        z-index: 999;
      }

      span {
        display: inline-block;
        position: fixed;
        z-index: 99;
        left: 0;
        top: 0;
        content: '';
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.673);
        cursor: pointer;
      }

      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }

    .project-thumbnails {
      display: flex;
      flex-flow: column nowrap;
      width: 20%;
      height: 68vh;
      overflow-y: scroll;
      justify-content: flex-start;
      align-items: center;

      img {
        width: 211px;
        margin-bottom: 16px;
        border: 5px solid #15161a;
        box-sizing: border-box;
        border-radius: 10px;
        &:hover {
          border: 5px solid #5557fe;
          cursor: pointer;
        }
      }
    }
    .project-comments {
      width: 25%;
      background-color: #15161a;
      border: 5px solid #15161a;
      box-sizing: border-box;
      border-radius: 10px;
      height: 68vh;
      padding: 14px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      .comments-header {
        letter-spacing: 0.11em;
        font-weight: normal;
        font-size: 1rem;
        margin-bottom: 20px;
      }
      .comments-body {
        height: 100%;
        overflow-y: scroll;
        font-size: 0.9rem;
        line-height: 20px;

        .comment-li-user {
          background: none;
          display: flex;
          padding: 20px 0 20px 0;

          .avatar {
            width: 30px;
            height: 30px;
            object-fit: cover;
            border-radius: 100%;
            padding: 0 10px 0 0;
          }
        }

        .comment {
          background: #5557fe;
          border-radius: 10px;
          text-align: right;
          padding: 10px;

          .you {
            font-weight: 500;
          }

          .avatar {
            display: none;
          }
        }
      }
      .comments-form {
        padding-top: 20px;
        .form-wrapper {
          position: relative;
        }
        input {
          border: none;
          background: #2a2b31;
          border-radius: 10px;
          width: 100%;
          box-sizing: border-box;
          height: 53px;
          padding: 16px;
          color: white;
        }
        button {
          position: absolute;
          right: 6px;
          top: 6px;
          z-index: 9;
          height: 40px;
          vertical-align: middle;
          width: 40px;
          border-radius: 100%;
          border: none;
          background-color: #5557fe;
          svg {
            text-align: center;
            vertical-align: middle;
          }
        }
      }
    }
  }
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
