@import './mixins';
@import './palette';

div.project-invite {      
  @include onboard-form;
  @include themify($themes) {
    background-color: themed('bg');    
  }  

  display: flex;
  flex-direction: row;  
  max-width: 800px;  
  padding: 0px;
  width:100%;
  margin:0;    

  &:hover,
  &:focus {
    outline: auto 4px -webkit-focus-ring-color;
  }
  &:not(:focus):invalid {
    border: 2px solid $alert;
  }
        
  justify-content: flex-start; 
  align-content: flex-start;  
  height: 65px;  

  .left {
    display: flex;
    width: 50%; 
    height: 100%; 
    
    .avatar {      
      height: 54px;
      width: 54px;
      padding: 0px;

      img {
        height: 80%;
        width: 80%;
        border-radius: 50%;
      }
    }

    .info {      
      margin-left: 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      .status {
        margin-top: 4px;
        color: gray;
      }
    }

  }//end left 

  .actions {     
    display: flex;  
    width: 50%;   
    position: relative;
    display:flex;
    justify-content:space-between;

    .invite-edit-div{
      background:$dark-grey;
      border-radius:5px;
      padding: 0% 3%;

      .invite-edit-drop{
        appearance: none;
        background: url('../ASSETS/options-icon.png') 99% / 25% no-repeat $dark-grey;
        padding:10px 25px;
      }
    }

    .close-collab-icon-div{      
      display:flex;
      align-items:center;      
      background:#6d6d72;
      border-radius: 5px;
      padding: 0% 13%;

      .close-collab-icon {                  
        width: 100%;               
        display:flex;
        align-items:flex-start;
        justify-content: flex-end;         
        cursor: pointer;        
        
      }//end close-collab-icon

    }//end close-collab-icon-div

  }//end actions

}//end project-invite
