@import './palette';
@import './mixins';

.projects-container {
  color: white;
  width: 100%;
  @include themify($themes) {
    color: themed('text');
  }

  .project-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  .project-details {
    width: 50%;

    h2 {
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 1.5rem;
      letter-spacing: 0.11em;
      margin-bottom: 14px;
    }
    h3 {
      font-style: italic;
      font-weight: normal;
      font-size: 1rem;
      line-height: 19px;
      letter-spacing: 0.11em;
      margin-bottom: 21px;
    }
    span {
      color: #6d6d72;
      font-weight: normal;
      font-size: 0.8rem;
      letter-spacing: 0.11em;
      padding-right: 2%;
    }
    .project-header-username a {
      color: #5557fe;
      text-decoration: none;
    }
  }
  .project-header-right {
    width: 40%;
    height: 100px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    text-align: right;

    .project-header-team {
      visibility: hidden;
      img {
        padding: 0 5px;
        width: 42px;
        height: 42px;
        border-radius: 100%;
        object-fit: cover;
      }
    }
    .project-header-links {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;

      .edit {
        color: #5557fe;
        letter-spacing: 0.11em;
        padding: 0 25px;
        font-weight: 500;
      }
      svg,
      img {
        vertical-align: middle;
      }

      .link-disabled {
        filter: grayscale(100);
        pointer-events: none;
        user-select: none;
      }

      .link-enabled {
        filter: grayscale(0);
      }

      .project-header-button {
        margin-left: 10px;
        height: 42px;
        background: #15161a;
        border-radius: 10px;
        min-width: 42px;
        text-align: center;
        line-height: 42px;
        cursor: pointer;
        @include themify($themes) {
          background: themed('bg2');
        }
      }
    }
  }

  .project-body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    height: 68vh;
    margin-top: 1rem;
  }
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

@media (max-width: 1024px) {
  .projects-container {
    .project-details {
      width: 60%;
    }

    .project-body {
      display: flex;
      flex-direction: column;

      .project-comments {
        width: 100%;
        margin: 3% 0;
        height: max-content;

        .form-wrapper {
          // border: 1px solid red;
          padding: 0;

          button {
            margin: 2%;
          }
        }
      }
    }
  }
}
