@import './mixins';
@import './palette';

div.project-invite {      
  @include onboard-form;
  @include themify($themes) {
    background-color: themed('bg');
  }  

  &:hover,
  &:focus {
    outline: auto 4px -webkit-focus-ring-color;
  }
  &:not(:focus):invalid {
    border: 2px solid $alert;
  }

  position: relative;
  display: flex;  
  justify-content: center; 

  height: 65px;  

  .left {
    display: flex;
    .avatar {
      height: 60px;
      width: 60px;
      padding-top: 5px;

      img {
        height: 80%;
        width: 80%;
        border-radius: 50%;
      }
    }

    .info {
      margin-left: 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      .status {
        margin-top: 4px;
        color: gray;
      }
    }
  }
  .actions {       

    .close-collab-icon-div{      
      display:flex;
      align-items:flex-start;
      justify-content: flex-end;          
      position:absolute;
      top:5px;
      right:5px;
      height:15px;
      width: 15px;
      
      .close-collab-icon {                  
        width: 100%;               
        display:flex;
        align-items:flex-start;
        justify-content: flex-end;        
        margin: 2% 2%;
        cursor: pointer;        
        
      }
    }   
  }
}
