@import './mixins';
@import './palette';

.project-form-wrapper {
  align-items: center;
  // border: 1px solid red;
  color: $white;
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;

  .ProjectForm__header {
    align-self: flex-start;
    display: flex;
    margin-left: 2%;
    h2 {
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.11em;
    }
  }

  .ProjectForm__body {
    // border: 1px solid white;
    display: flex;
    margin: 16px 0;
    width: 100%;

    @media (max-width: 700px) {
      align-items: center;
      flex-direction: column;

      .left-container {
        width: 100%;
      }

      .right-container {
        margin-top: 5%;
        margin-bottom: 5%;
        width: 100%;
      }
    }
  }

  .modal--close {
    display: none;
  }

  .modal--expand {
    animation: fadeIn 0.2s ease-in-out;

    span.modal--expand__background-overlay {
      background: $modal-bg;
      cursor: pointer;
      content: '';
      position: fixed;
      height: 100vh;
      left: 0;
      top: 0;
      text-align: center;
      width: 100%;
      z-index: 9999999;
      .delete-project-modal {
        max-width: 489px;
        width: 489px;
        height: 159px;
        display: flex;
        flex-direction: column;
        z-index: 999999999;
        border-radius: 10px;
        background-color: $black;
        padding: 40px;
        box-sizing: border-box;
        position: absolute;
        top: 40%;
        left: 40%;
        .delete-modal-button-container {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          .delete-button {
            background: $alert;
          }
          button {
            @include btn;
            padding: 10px 60px;
            margin-top: 3vh;
            transition: 0.1s ease-in-out;
            background: $dark-grey;
          }
        }
        p {
          text-align: center;
          font-size: 20px;
          line-height: 23px;
          letter-spacing: 0.11em;
        }
      }
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }

  .left-container {
    // border: 1px solid red;
    width: 40%;
    padding: 0 2%;
    .delete-project-button {
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      cursor: pointer;
      color: $dark-grey;
      letter-spacing: 0.11em;
      p {
        line-height: 24px;
        vertical-align: middle;
        display: inline;
      }
      svg {
        vertical-align: middle;
        margin-right: 6px;
      }
    }

    .page-header {
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 1.5rem;
      letter-spacing: 0.11em;
      margin-bottom: 14px;
    }

    .upload-container {
      align-items: center;
      border: 5px solid $black;
      background: $field-bg;
      border-radius: 10px;
      cursor: pointer;
      display: flex;
      height: 200px;
      justify-content: center;
      outline: none;
      padding: 20px;
      transition: all 0.1s ease-in-out;

      &:hover {
        background: #33343b;
      }

      p {
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        letter-spacing: 0.11em;
      }

      svg {
        stroke: $white;
        max-width: 25%;
      }
    }

    .drop-text-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .upload-icon {
        opacity: 0.2;
        margin-bottom: 10px;
      }

      .drop-text {
        margin-bottom: 10px;

        mark {
          background: none;
          color: $blue;
        }
      }
    }
  }

  .thumbnail-container {
    // border: 1px solid cyan;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .thumbnail {
    border: 5px solid $black;
    border-radius: 10px;
    box-sizing: border-box;
    display: inline-flex;
    margin: 4px;
    object-fit: cover;
    object-position: center;
    width: 6rem;
    height: 6rem;
  }

  .remove {
    width: 20px;
    position: absolute;
    margin-top: -5px;
    margin-left: -5px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    opacity: 0.8;
  }

  .remove:hover {
    transform: scale(1.2);
    opacity: 1;
  }

  .right-container {
    // border: 1px solid white;
    width: 50%;
    display: flex;
    overflow-y: scroll;

    form {
      // border: 1px solid white;
      width: 100%;

      label {
        display: inline-block;
        margin-top: 15px;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.11em;
      }

      .project-label {
        margin-top: 0px;
      }
    }

    .alert-container {
      display: none;
    }

    form.alert {
      .alert-container {
        display: flex;
        justify-content: flex-end;
        width: 100%;
      }
      input#name {
        border: 2px solid $alert;
        border-radius: 5px;
      }
      .errorIcon {
        width: 20px;
        position: absolute;
        margin-left: 5px;
        margin-top: -5px;
        transition: all 0.1s ease-in-out;
        &:hover {
          transform: scale(1.2);
        }
      }
    }

    input {
      background: $field-bg;
      border: none;
      border-radius: 5px;
      color: white;
      font-weight: 500;
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 0.11em;
      margin: 10px 0 20px 0;
      outline: none;
      padding: 10px 0;
      padding-left: 10px;
      width: 98%;
    }

    textarea {
      font-weight: 500;
      line-height: 14px;
      letter-spacing: 0.11em;
      font-family: inherit; // need this to override textarea defaults
      font-size: inherit; // need this to override textarea defaults
    }

    .description {
      width: 98%;
      margin: 10px 0 20px 0;
      padding: 10px 0;
      background: $field-bg;
      border: none;
      color: white;
      outline: none;
      padding-left: 10px;
      border-radius: 5px;
      resize: vertical;
      height: 50px;
      font-size: 14px;
      font-family: 'Roboto', sans-serif;
    }
  }

  .submit-cancel-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    .submit-button {
      @include follow-btn;
      padding: 10px 40px;
      letter-spacing: 0.11rem;
      margin-top: 16px;
      margin-right: 16px;
    }

    .cancel-btn {
      @include edit-profile-btn;
      background: $field-bg;
      margin-top: 16px;
      margin-left: 0;
      padding: 10px 40px;
      letter-spacing: 0.11rem;
      margin-top: 16px;
    }
  }
}
