@import './palette';
@import './mixins';

.projects-container {
  color: white;
  width: 100%;
  @include themify($themes) {
    color: themed('text');
  }

  .project-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 0rem;
  }

  .pdf-view{
    margin: 2% 0%;
    .pdf-nav-buttons{
      margin:3% 0%;
      display:flex;
      justify-content: center;
      align-items:center;
      button{
        margin: 0% .5%;
        color:white;
        background:#5557fe;
        border: none;
        padding: 0.5% 2%;
        border-radius:5%;
        cursor:pointer;
        &:hover {
          background: $btn-primary-hover;
        }
      }
    }

  }

  .project-details {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    h2 {
      font-weight: 500;
      font-size: 1.2rem;
      letter-spacing: 0.11em;
      width: 100%;
    }
    h3 {
      font-style: italic;
      font-weight: normal;
      font-size: 1rem;
      line-height: 19px;
      letter-spacing: 0.11em;
      margin: 10px 0;
    }
    span {
      color: #6d6d72;
      font-weight: normal;
      font-size: 0.8rem;
      letter-spacing: 0.11em;
      padding-right: 2%;
    }

    .project-header-username a {
      color: #5557fe;
      text-decoration: none;
    }

    .collab-count{
      .collab-members{
        color: rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0);

        user-select: none;

        font-family: 'Helvetica';

        padding: 5px;
        font-size: 14px;
        text-align: center;

        width: auto;
        position: absolute;

        border-radius: 3px;

        box-shadow: 0 0 0px 0 none;

        transform: translate(-95px,30px);

        transition: color 0.2s, background-color 0.2s, box-shadow 0.2s;
      }
    }

    .collab-count:hover{
      .collab-members{
          color: white;

          background-color: black;
          box-shadow: 0 0 1px 0 gray;
        
      }
    }

  }
  .project-header-right {
    width: 40%;
    height: 100px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    text-align: right;

    .project-header-team {
      visibility: hidden;
      img {
        padding: 0 5px;
        width: 42px;
        height: 42px;
        border-radius: 100%;
        object-fit: cover;
      }
    }
    .project-header-links {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;

      .pdf-button{
        height:42px;
        padding-bottom:6%;
      }

      .pdf-button-disabled{
        height:42px;
        padding-bottom:6%;

        filter: grayscale(100%)
      }

      .edit {
        color: #5557fe;
        letter-spacing: 0.11em;
        padding: 0 25px;
        font-weight: 500;
      }
      svg,
      img {
        vertical-align: middle;
      }

      .link-disabled {
        filter: grayscale(100);
        pointer-events: none;
        user-select: none;
      }

      .link-enabled {
        filter: grayscale(0);
      }

      .project-header-button {
        margin-left: 10px;
        height: 42px;
        background: #15161a;
        border-radius: 10px;
        min-width: 42px;
        text-align: center;
        line-height: 42px;
        cursor: pointer;
        @include themify($themes) {
          background: themed('bg2');
        }
      }
    }
  }

  .project-body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    height: 68vh;
    margin-top: 1rem;
  }
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

@media (max-width: 1024px) {
  .projects-container {
    .project-details {
      width: 60%;
    }

    .project-body {
      display: flex;
      flex-direction: column;

      .project-comments {
        width: 100%;
        margin: 3% 0;
        height: max-content;

        .form-wrapper {
          // border: 1px solid red;
          padding: 0;

          button {
            margin: 2%;
          }
        }
      }
    }
  }
}
