@import './mixins';
@import './palette';

.Settings {
  margin-top: 15vh;
  background: $black;
  width: 98%;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: row nowrap;
  align-items: center;
  color: $white;
  box-sizing: border-box;
  .settings-left-column {
    padding: 5vh 0;
    width: 12%;

    height: 100%;
    .settings-logout {
      color: $alert;
    }
    h4 {
      letter-spacing: 0.11em;
      color: #6d6d72;
      font-size: 14px;
      font-weight: normal;
      line-height: 16px;
      margin-top: 40px;
      cursor: pointer;
      &:hover {
        color: white;
      }
    }
  }
  .settings-right-column {
    width: 85%;
    text-align: left;
    padding: 40px 60px;
    border-left: 3px solid #212229;
  }

  img {
    border-radius: 100%;
    width: 130px;
  }

  .full-name {
    margin: 20px 0;
  }

  button {
    @include edit-profile-btn;
    margin: 20px 0;
  }
}

.account-form-container {
  .account-form {
    display: flex;
    flex-flow: column nowrap;
    label {
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.11em;
      color: #6d6d72;
    }
    input,
    textarea {
      background: #2a2b31;
      border-radius: 5px;
      border: none;
      height: 31px;
      margin: 4px 0 30px 0;
      padding-left: 12px;
      color: white;
      letter-spacing: 0.11em;
      &::placeholder {
        color: #6d6d72;
        font-family: Roboto;
        font-size: 14px;
        padding: 8px 0;
      }
    }
    textarea {
      height: 60px;
      font-family: Roboto;
      padding: 8px 12px;
    }
  }
}
