@import './mixins';
@import './palette';

.user-profile-container {
  color: $white;
  width: 96%;
  margin-top: 7vh;

  .user-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20vh;
    margin: 5vh auto;
    background: $black;
    border-radius: 10px;

    .avatar {
      border-radius: 100%;
      object-fit: cover;
      height: 14vh;
      width: 14vh;
      padding: 4vh;
    }

    .user-info {
      height: 80%;
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .userFLname {
        font-size: 1.2rem;
        font-weight: 400;
        margin: 0;
      }

      .username {
        margin: 0;
        font-size: 1rem;
        font-weight: 500;
        color: $dark-grey;
      }

      .bio {
        margin: 0;
        max-width: 80%;
        line-height: 20px;
      }

      .user-info-location-website {
        display: flex;
        width: max-content;

        .website {
          margin-left: 2vh;
          text-decoration: none;
          color: $white;
          transition: 0.1s ease-in-out;
        }

        .website:hover {
          color: $dark-grey;
        }
      }
    }

    .user-data-container {
      width: 40%;
      display: flex;
      flex-direction: column;

      h6 {
        color: $dark-grey;
      }

      .user-data {
        display: flex;
        justify-content: space-between;
        width: 90%;

        .count-flex {
          display: flex;
          flex-direction: column;
          align-items: center;

          p {
            margin: 1vh 0;
          }
        }
      }
      .teams-container {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .teams {
          margin-top: 1vh;

          .team-avatar {
            margin-top: 1vh;
            margin-right: -2vh;
            border-radius: 100%;
            object-fit: cover;
            width: 5vh;
            height: 5vh;
            border: 5px solid $black;
          }
        }

        .edit-profile-btn {
          @include edit-profile-btn;
        }
      }
    }
  }

  .profile-tabs-container {
    color: $white;
    width: 100%;

    .nav-links {
      display: flex;
      justify-content: space-between;
      width: 34%;

      .links {
        color: $dark-grey;
        text-decoration: none;
        list-style-type: none;
        margin: 0;
        cursor: pointer;
        transition: 0.1s ease-in-out;
        font-weight: 400;
      }

      .active-link {
        color: $white;
      }

      .links:hover {
        color: $white;
      }
    }
  }

  .tabs-container {
    width: 100%;
    margin: 4vh 0;

    .tab-content {
      background: $black;
      padding: 2vh;
      border-radius: 10px;

      h2 {
        font-weight: 400;
        margin: 0;
        margin-bottom: 2vh;
      }
    }

    .projects-array {
      display: grid;
      grid-template-columns: 0fr 0fr 0fr 0fr;
      grid-gap: 2vh;
      justify-content: space-between;
      width: 100%;
      position: relative;

      .project-info {
        position: absolute;
        border: 1px solid red;
        width: 100%;
      }

      .project-thumbnail {
        width: 19.6vw;
        height: 12vw;
        object-fit: cover;
        border: 8px solid $almost-black;
        border-radius: 5px;
        transition: 0.1s ease-in-out;
        cursor: pointer;
      }

      .project-thumbnail:hover {
        border: 8px solid $blue;
      }
    }

    .follow-container {
      background: $black;
      padding: 2vh;
      border-radius: 10px;
      display: flex;
      align-items: center;
      margin-bottom: 4vh;
      width: 97.5%;
      justify-content: space-between;

      .follow-avatar {
        border-radius: 100%;
        object-fit: cover;
        width: 10vh;
        height: 10vh;
      }

      .follow-info-flex {
        display: flex;
        align-items: center;
      }

      .follow-content-flex {
        display: flex;
        margin-left: 2vh;

        .follow-FLname {
          font-weight: 400;
          font-size: 1rem;
          margin: 0;
        }

        .follow-username {
          margin: 0;
          margin-left: 1vh;
          font-weight: 400;
          font-size: 1rem;
          color: $dark-grey;
        }
      }
      .follower-bio {
        margin: 0;
        margin-top: 2vh;
        margin-left: 2vh;
        max-width: 90%;
        font-size: 0.9rem;
        line-height: 20px;
      }
    }
  }

  .follow-btn {
    @include follow-btn;
  }
}
