nav {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  left: 30px;
  top: 25%;

  background: #15161a;
  border-radius: 10px;

  width: 71px;

  svg {
    stroke: #6d6d72;
    margin-top: 56px;
    &:hover {
      stroke: white;
    }
  }

  :last-child {
    margin-bottom: 56px;
  }
}
