.top-bar-container {
  height: 69px;
  line-height: 69px;
  border-bottom: 1px solid #2a2b31;
  padding: 0 37px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;

  .logo-container {
    margin-top: 5px;
    width: 2%;
  }

  .search-bar-container {
    align-self: flex-start;
    width: 78%;
  }

  .top-bar-user-info {
    color: white;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 11%;
    justify-content: space-between;
  }

  .profile-pic-thumb {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #5557fe;
  }

  h3 {
    color: white;
  }
}
