.Heatmap {
  max-width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

$heatmap-5: #3f1ccc;
$heatmap-4: #5557fe;
$heatmap-3: #7072ff;
$heatmap-2: #8d8fff;
$heatmap-1: #adaeff;
