.heatmap {
  margin: 4vh 0;
  background: #15161a;
  padding: 1.5%;
  border-radius: 10px;

  .header {
    margin: 0 0 2vh 0;
  }

  .react-calendar-heatmap {
    text {
      font-size: 8px;
    }
    .color-scale-0 {
      fill: #212229;
    }
    .color-scale-1 {
      fill: #adaeff;
    }
    .color-scale-2 {
      fill: #8d8fff;
    }
    .color-scale-3 {
      fill: #7072ff;
    }
    .color-scale-4 {
      fill: #5557fe;
    }
    .color-scale-5 {
      fill: #3f1ccc;
    }

    .color-empty {
      fill: #212229;
    }
  }
}
