.Heatmap {
  align-items: center;
  background: #15161a;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  max-width: 700px;
}

$heatmap-5: #3f1ccc;
$heatmap-4: #5557fe;
$heatmap-3: #7072ff;
$heatmap-2: #8d8fff;
$heatmap-1: #adaeff;
